apiVersion: v1
kind: Config
clusters:
- cluster:
    certificate-authority-data: {{ kube_ca_certs }}
    server: https://10.201.116.10:8443
  name: {{ kube_cluster_host }}
contexts:
- context:
    cluster: {{ kube_cluster_host }}
    namespace: {{ releasebot_namespace }}
    user: {{ releasebot_kube_user }}
  name: intools
current-context: intools
users:
- name: {{ releasebot_kube_user }}
  user:
    token: {{ kube_sa_token }}
