"releasebot":
  "secrets":
    "exchange":
      "pass": "{{ exchange_password }}"
      "user": "{{ exchange_user }}"
    "jenkins":
      "base_pass": "{{ jenkins_base_password }}"
      "base_token": "{{ jenkins_base_token }}"
      "base_user": "{{ jenkins_base_user }}"
      "pass": "{{ jenkins_base_password }}"
      "pcidss_pass": "{{ jenkins_pcidss_password }}"
      "pcidss_token": "{{ jenkins_pcidss_token }}"
      "pcidss_user": "{{ jenkins_pcidss_user }}"
      "user": "{{ jenkins_base_user }}"
    "jira":
      "pass": "{{ jira_password }}"
      "user": "{{ jira_user }}"
    "postgres":
      "pass": "{{ db_password }}"
      "user": "{{ db_user }}"
    "staff":
      "token": "{{ staff_token }}"
    "telegram":
      "value": "{{ telegram_token }}"
    "zabbix":
      "pass": "{{ ad_password }}"
      "user": "{{ ad_user }}"
